// SPDX-License-Identifier: GPL-2.0+

#include "socfpga_cyclone5_de1soc.dts"

/ {
	soc {
		pushbutton: pushbutton@0xff200050 {
			compatible = "ldd,pushbutton";
			reg = <0xff200050 0x4>;
			// level triggered shared peripheral interrupt
			interrupts = <0x0 0x29 0x4>;
			interrupt-parent = <&intc>;
		};
	};
};
